body{
  font-family: Verdana; text-shadow: purple; background-color: lightpink; color: blue
}


h1{

  color: blue ;

}
p {
  border: 2px solid powderblue;
}

div {
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
div {
  animation-name: mymove;
}

img:hover {
  opacity: 0.5; border-radius: 8px;
}



div {
  width: 300px;
  height: 100px;
  background-color: green;
  border: 1px solid black;
}

div#myDiv {
  -ms-transform: skew(20deg,10deg); /* IE 9 */
transform: skew(20deg,10deg); /* Standard syntax */}

a{font-family: Verdana; text-shadow: purple; background-color: lightpink; color: blue }
