body{
  font-family: Verdana;
  color:#2fffe7; background-color: #008373 ;
}


h1{

  color:#bafff7 ;   text-shadow: 2px 2px 5px lightblue;

}
p {
  border: 2px solid powderblue;
}

div {
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
div {
  animation-name: mymove;
}

img:hover {
  opacity: 0.5; border-radius: 8px;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}
a{font-family: Verdana;
color:#2fffe7; background-color: #008373 ;}

    <table>
      <tr>


        <td> <a href="new1month.html"><img src="thumbnails/1.jpg" alt="photo 1 thumbnail" width="115"></a> </td>

        <td> <a href="new2month.html"><img src="thumbnails/2.jpg" alt="photo 2 thumbnail"width="115"></a> </td>

        <td> <a href="new3month.html"><img src="thumbnails/3.jpg" alt="photo 3 thumbnail"width="115"></a> </td>

        <td> <a href="new4month.html"><img src="thumbnails/4.jpg" alt="photo 4 thumbnail"width="115"></a> </td>

        <td> <a href="new5month.html"><img src="thumbnails/5.jpg" alt="photo 5 thumbnail"width="115"></a> </td>

        <td> <a href="new6month.html"><img src="thumbnails/6.jpg" alt="photo 6 thumbnail"width="115"></a></td>
      </tr>
      <tr>
        <td> <a href="new7month.html"><img src="thumbnails/7.jpg" alt="photo 7 thumbnail"width="115"></a> </td>

        <td> <a href="new8month.html"><img src="thumbnails/8.jpg" alt="photo 8 thumbnail"width="115"></a> </td>

        <td> <a href="new9month.html"><img src="thumbnails/9.jpg" alt="photo 9 thumbnail"width="115"></a> </td>

        <td> <a href="new10month.html"><img src="thumbnails/10.jpg" alt="photo 10 thumbnail"width="115"></a> </td>

        <td> <a href="new11month.html"><img src="thumbnails/11.jpg" alt="photo 11 thumbnail"width="115"></a> </td>

        <td> <a href="new12month.html"><img src="thumbnails/12.jpg" alt="photo 12 thumbnail"width="115"></a> </td>

      </tr>

    </table>
