body{
  font-family: Verdana;
  color:#2fffe7; background-color: #008373 ;
}


h1{

  color:#bafff7 ;   text-shadow: 2px 2px 5px lightblue;

}
p {
  border: 2px solid powderblue;
}

div {
  width: 70px;
  height: 300px;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
div {
  animation-name: mymove;
}

img:hover {
  opacity: 1.0;
}
